Options All -Indexes

RewriteEngine On
RewriteBase /teacherinfo/

RewriteRule ^school/?$ school.php [PT,L]
RewriteRule ^teacher/?$ teacher.php [PT,L]
RewriteRule ^export/school/?$ export_school.php [PT,L]
RewriteRule ^export/teacher/?$ export_teacher.php [PT,L]
RewriteRule ^export/schoollist/?$ export_schoollist.php [PT,L]
RewriteRule ^manage/schoollist/?$ manage_schoollist.php [PT,L]
RewriteRule ^manage/teachertype/?$ manage_teachertype.php [PT,L]
RewriteRule ^manage/emailtype/?$ manage_emailtype.php [PT,L]
RewriteRule ^manage/account/?$ manage_account.php [PT,L]
RewriteRule ^confirm/teacher/ok/(.+?)/?$ confirm.php?teacher&confirm=1&hash=$1 [PT,L]
RewriteRule ^confirm/teacher/error/(.+?)/?$ confirm.php?teacher&confirm=2&hash=$1 [PT,L]
RewriteRule ^login/?$ login.php?action=login [PT,L]
RewriteRule ^logout/?$ login.php?action=logout [PT,L]
